# API Configuration
# For local development, use http://localhost:5000 or your server URL
# For production, use your deployed backend URL
REACT_APP_API_URL=https://3dc7-2401-4900-1c09-829d-f932-da7e-10f1-ba7c.ngrok-free.app
